{% extends 'base.html' %}{% block main %}
<!-- marketing information -->
<section>
  <div class="card mb-3 container-fluid">
    <div class="row g-1">
      <div class="col-md-6">
        <img
          src="../static/img/sale_1.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">APEX TABLE LAMP</h5>
          <p class="card-text">
            Taking cues from the classic Banker’s Light, British designer John
            Tree merged archetypal references with his contemporary, colourful
            sensibility to create the Apex Lamp collection. The folded steel
            shades create a peaked roofline silhouette, providing the
            inspiration behind the series’
          </p>
          <p class="card-text">
            <small class="text-body-secondary">$ 200.00</small>
          </p>
          <button type="button" class="btn btn-dark">Add basket</button>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
