{% extends 'base.html' %} {% block head %}
<!-- add a big banner to welcome user -->
<img
  src="../static/img/header.jpg"
  class="img-fluid"
  id="main_banner"
  alt="..."
  style="display: none"
/>
{% endblock %} {% block main %}
<!-- marketing information -->
<section>
  <!--Radio group-->
  <div>
    {% for category in categories %}
    <a href="{{url_for('main.index', category_id=category.id)}}">
      <label for="radio{{category.id}}">
        <input name="radio-group" type="radio" />
        <span class="radio-inner-circle"></span>
        {{category.name}}
      </label>
    </a>
    {% endfor %}
  </div>

  <div class="row row-cols-sm-2 row-cols-md-2 row-cols-lg-3">
    {% for product in products %}
    <a>
      <div class="col mb-4">
        <div class="card" style="height: 600px">
          <img
            src="{{product.image}}"
            class="card-img-top"
            alt="..."
            style="max-height: 350px"
          />
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.description}}</p>
            <p class="card-text">{{product.price}}</p>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</section>

{% endblock %}
