{% extends 'base.html' %} {% block main %}
<!-- display tours for the specific city -->
<section>
  <div class="text-dark text-center">
    <div>
      <h1 class="mt-4 mb-4">Select a product</h1>
    </div>
  </div>
  <div class="row row-cols-sm-2 row-cols-md-2 row-cols-lg-3">
    <!-- each product is a Bootstrap card -->
    {% for product in products %}
    <a href="{{url_for('main.product', product_id=product.id)}}">
      <div class="col mb-4">
        <div class="card" style="height: 600px">
          <img
            class="card-img-top"
            src="{{url_for('static', filename='' + product.image)}}"
            alt="Card image"
            style="max-height: 350px"
          />
          <div class="card-body">
            <h4 class="card-title">{{product.name}}</h4>
            <p class="card-text">{{product.description}}</p>
            <p class="card-text">{{"$%.2f"|format(product.price)}}</p>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</section>
{% endblock %}
